@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 align="center">@ViewData["Title"]</h1>

<p align="center">Use this page to detail your site's privacy policy.</p>

<p align="center">We will be working on this in coming days..........</p>

<h4 align="center">Thank you...    </h4>
