<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - AgriculturalStatistics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<style>
    #mainHeader:hover{
        color:#ffff !important;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <h3 style="color:white;" >
                    <a id="mainHeader" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Agricultural Statistics</a>
                </h3>
                <a class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Commodities" asp-action="Vegetables">Vegetables</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Commodities" asp-action="FruitsandNuts">Fruits and Nuts</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Commodities" asp-action="Dairy">Dairy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Commodities" asp-action="statistics">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Commodities" asp-action="Aboutus">AboutUs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
    @RenderBody()
   


    
    @RenderSection("Scripts", required: false)
</body>
</html>
