@{
    ViewData["Title"] = "About us";
}
<body style="background-color: #dfe8f2;">
    <div class="container-fluid" style="width: 80%;">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="@Url.Content("~/images/sumanth_.png")" alt="nf">
                    <div class="card-body">
                        <h5 class="card-title">Sumanth</h5>
                        <p class="card-text">
                           My name is Sumanth and I'am a passionate developer with 3 years of industry experience as a full stack
                            developer. To this project I have designed all the pages initially and then started developing each task
                            which finally brought us to this beautiful website. My contributions include Tables, pagination, searching, homepage, aboutus, styling and designing responsive webpages
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="/images/Anusha.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Anusha</h5>
                        <p class="card-text">
                            I am current MSBAIS student at USF Tampa.I have close to 4.5 years of software development experience in Banking, Finance and Trading.
                            My contribution to the project involves finding relevant datasets for Agriculture Statistics project.I have designed and implemented ERD diagrams,fetched data from API endpoints into the tables.
                            I have also implemented CRUD functionality for Agricultural Statistics.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="/images/sahith.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sahith</h5>
                        <p class="card-text">
                            I'am Sahith Yelamarthi, People call me sahith. I have 2.5 years of experience in SAP development.
                            My contribution for this project include chartjs and adding background images.
                            Designed chartjs and devloped static chart first and then made it dynamic by pulling out the values from the Database.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-sm-4 offset-sm-2">
                <img src="/images/db_design..png" class="img-rounded img-responsive" alt="not found">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <h3 align="center">Database Design</h3>
            </div>
        </div>
    </div>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AgriculturalStatistics - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>