@{
    ViewData["Title"] = "About us";
}
<body style="background-color: #dfe8f2;">
    <div class="container" style="width: 70%;">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="@Url.Content("~/images/sumanth_.png")" alt="nf">
                    <div class="card-body">
                        <h5 class="card-title">Sumanth</h5>
                        <p class="card-text">
                            I have designed the page layout and divided the content into 3 main tabs like Crops,Diary and Vegetables.
                            Developed responsive web pages using bootstrap for mobile,tablet and laptop/desktop views.
                            Also contributed my part in developing the tables.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="/images/Anusha.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Anusha</h5>
                        <p class="card-text">
                            I am current MSBAIS student at USF Tampa and expecting to graduate in Spring 2022.I have close to  4.5 years of development experience in Banking,Finance and Trading.
                            My contribution to the project involves design and implementation ERD,fetching data from APIs into the tables and implemented CRUD functionality for the Agricultural Statistics project.

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img style="width:auto; height:auto" class="card-img-top img-rounded img-responsive" src="/images/sahith.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Sahith</h5>
                        <p class="card-text">
                            I have designed the homepage for Agriculture Statistics and
                            Added the background images for all the pages and also worked on aboutus page in our project.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-sm-4 offset-sm-2">
                <img src="/images/db_design..png" class="img-rounded img-responsive" alt="not found">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <h3 align="center">Database Design</h3>
            </div>
        </div>
    </div>
</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AgriculturalStatistics - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>